<p id="notice"><%= notice %></p>

<h1>Listing Registered Applications</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registered_applications.each do |registered_application| %>
      <tr>
        <td><%= link_to 'Show', registered_application %></td>
        <td><%= link_to 'Edit', edit_registered_application_path(registered_application) %></td>
        <td><%= link_to 'Destroy', registered_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registered application', new_registered_application_path %>
