<h1>Registered Applications</h1>

<br>

<%= link_to 'Register A New Application', new_registered_application_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @registered_applications.each do |registered_application| %>
      <tr>
        <td><%= registered_application.name %></td>
        <td><%= registered_application.url %></td>
        <td><%= link_to 'Show', registered_application %></td>
        <td><%= link_to 'Edit', edit_registered_application_path(registered_application) %></td>
        <td><%= link_to 'Destroy', registered_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
